*{
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: rgba(243, 243, 243, 0.356);
    display: flex;
    height: 100vh;
}

.side-bar{
    display: flex;
    position: fixed;
    flex-direction: column;
    background-color: #b4d7fa83;
    border:solid rgba(82, 82, 82, 0.123) 1px;
    height: 100%;
    width: 280px;
}

#side-title{
    padding: 25px 0px 5px 25px;
    color: #1E3A8A;
    font-size: 24px;
    font-weight: 750;
}

#side-subtitle{
    padding-left: 25px;
    color: rgba(56, 56, 56, 0.856);
    font-size: small;
    
}

nav{
    padding: 40px 0px 0px 20px;
    
}

nav ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: 550;
    list-style: none;
    width: 98%;
    
}


.button{
    transition: background-color 0.4s ease;
    transition: color 0s ease;
    border-radius: 8px;
    border: 10px;
    padding: 15px;
}

.button:hover{
    background-color: rgba(141, 141, 214, 0.61);
    color: rgba(49, 49, 209, 0.849);
    cursor: pointer;
}

#books{
    background-color: rgba(141, 141, 214, 0.61);
    color: rgba(49, 49, 209, 0.849);
}

nav li:hover{
    background-color: rgba(141, 141, 214, 0.61);
    color: rgba(49, 49, 209, 0.849);
    cursor: pointer;
}

i{
    transition: color 0s ease;
    margin-right: 8px;    
}

li i:hover{
    color: rgba(49, 49, 209, 0.849);
}


#exit{
    display: block;
    margin-top: auto;
    padding: 10px;
    border: solid rgba(82, 82, 82, 0.123) 1px;
}


main{
    margin-left: 280px;
    padding: 25px;
    height: auto;
    width: 100%;
}

#main-sub-title{
    margin-top: 10px;
    color: rgba(56, 56, 56, 0.856);
    font-size: small; 
}

main form{
    padding: 30px 0px 30px  0px;
}

a{
    text-decoration: none; 
    color: inherit;
}

.container, .explorer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #e5e7eb;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#caption{
    margin-right: 25%;
}

#image-sub-title{
    text-align: justify;
}

#home{
    margin-top: 10px;
    padding: 12px 20px;
    border: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    background-color: #1E3A8A;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.book-card{
    margin: 5px;
    position: relative;
    border-radius: 3px;
    width: 130px;       
    height: 200px;   
    overflow: hidden; 
    box-shadow: 0 15px 20px rgba(0, 0, 0, .15);
}

.book-card::after{
    content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  
  background: linear-gradient(
    to right,
    rgba(255,255,255,0) 0%,
    rgba(255,255,255,0.7) 60%,
    rgba(255,255,255,1) 100%
  );
}

.book-cover {
    width: 130px;       
    height: 200px;      
    border-radius: 3px;
    object-fit: cover;
    cursor: pointer;
}

.caption-warning{
    margin-right: 15%;
}


#books-explore{
    margin-right: 10%;
}

#explore{
    display: flex;
}

